@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base); /* comment this line to disable preflight */
@import 'tailwindcss/utilities.css' layer(utilities);

@import "./plugins/horizontal-line.css";
@import "./plugins/animations.css";

/*@plugin "@tailwindcss/typography";*/
/*@plugin "@tailwindcss/forms";*/

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* dausyUI */
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, synthwave;
}

@theme {
  --font-courier: 'Courier New', Courier, monospace;
}

@layer theme {
  .hero-background {
    @apply absolute opacity-60 inset-0 -top-[100px] max-h-[1000px] -z-2 transition duration-500;

    /*background: url('/src/assets/img/noise.png'), radial-gradient(circle at top center, #c4a5ff, #e0d5ff 25%, #d8e1ff, #eef5ff 65%, #f8fbff80);*/
    /*mask-image: radial-gradient(ellipse 150% 35% at center center, #000 20%, #00000080 50%, #0000);*/


    /*background: url('/src/assets/img/noise.png'), radial-gradient(circle at top center, #b894f6, #9f93e8 25%, #8da9f4, #7abeec 65%, #a8d8f280);*/
    /*mask-image: radial-gradient(ellipse 200% 100% at top center, #000 20%, #00000080 50%, #0000), linear-gradient(to bottom, transparent 70px, #00000080 50%, #000);*/

    /*background: url('/src/assets/img/noise.png'), radial-gradient(circle at top center, #b894f6, #9f93e8 25%, #8da9f4, #7abeec 65%, #a8d8f280);*/
    /*mask-image: radial-gradient(ellipse 200% 100% at top center, #000 20%, #00000080 50%, #0000), linear-gradient(to bottom, transparent 70px, #00000080 50%, #000);*/

    /*mask-image: radial-gradient(ellipse 200% 100% at top center, #000 20%, #00000080 50%, #0000),*/
    /*linear-gradient(to bottom, transparent 70px, #00000080 50%, #000);*/

    background:
      url('/src/assets/img/noise.png'),
      linear-gradient(to bottom, transparent, rgba(0,0,0,0.3)),
      radial-gradient(circle at top center, #b894f6, #9f93e8 25%, #8da9f4, #7abeec 65%, #a8d8f280);
    /*background-size: 100%;*/

    @variant dark {
      background: url('/src/assets/img/noise.png'), radial-gradient(circle at top center, #8e2de2, #563277 25%, #4a378c, #4066a8 65%, #32517380);
      /*background-size: 100%;*/
      mask-image: radial-gradient(ellipse 150% 35% at center center, #000 20%, #00000080 50%, #0000);
    }
    @variant xl {
      mask-image: radial-gradient(ellipse 80% 40% at center center, #000 20%, #00000080 50%, #0000);
    }
  }
}
